@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Staatliches&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin: 0;
    background-color: #000;
    overflow-x: hidden;
    color: #eee;
}

body a {
    text-decoration: none;
    color: #eee;
    cursor: pointer;
}

body li {
    list-style-type: none;
}

.main-container {
    max-width: 1440px;
    width: 90%;
    margin: auto;
}

.main-nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-nav {
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 1.5rem 1.5rem;
    transition: .2s;
}

#brand-logo-cont {
    width: 5rem;
    flex: 1 0 0;
}

.main-logo {
    width: 200px;
}

input {
    display: none;
}

.open {
    background-color: #eee;
    width: 24px;
    height: 4px;
    display: block;
    border-radius: 2px;
    cursor: pointer;
    position: relative;
    top: 8px;
}

.open:before {
    content: "";
    background-color: #eee;
    width: 24px;
    height: 4px;
    display: block;
    border-radius: 2px;
    position: relative;
    top: -8px;
    transform: rotate(0deg);
    transition: all 0.3s ease;
}

.open:after {
    content: "";
    background-color: #eee;
    width: 24px;
    height: 4px;
    display: block;
    border-radius: 2px;
    position: relative;
    top: 4px;
    transform: rotate(0deg);
    transition: all 0.3s ease;
}

.menuOpen {
    width: 24px;
    height: 20px;
    display: block;
    padding: 15px;
    cursor: pointer;
    float: right;
}

.menuOpen:hover .open:before {
    top: -9px;
}

.menuOpen:hover .open:after {
    top: 5px;
}

.menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #000;
}

.menu label {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20px;
    top: 20px;
    background-size: 100%;
    cursor: pointer;
}

.menu .menuContent {
    position: relative;
    top: 50%;
    font-size: 54px;
    text-align: center;
    padding-bottom: 20px;
    margin-top: -285px;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

.menu ul li a {
    display: block;
    color: #eee;
    text-decoration: none;
    transition: color 0.2s;
    font-family: Trebuchet MS;
    text-transform: uppercase;
    padding: 2.5rem 0;
    font-size: 2.5rem;
    letter-spacing: 3px;
}

.menu ul li a:hover {
    color: #eee;
}

.menu ul li:hover {
    background: #ffa500;
}

.menuEffects {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}

.menuEffects ul {
    transform: translateY(0%);
    transition: all 0.5s;
}

#menuToggle:checked~.menuEffects {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s;
}

#menuToggle:checked~.menuEffects ul {
    opacity: 1;
}

#menuToggle:checked~.menuOpen .open {
    background-color: transparent;
}

#menuToggle:checked~.menuOpen .open:before {
    content: "";
    background-color: #eee;
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

#menuToggle:checked~.menuOpen .open:after {
    content: "";
    background-color: #eee;
    transform: rotate(-45deg);
    position: relative;
    top: 0;
    right: 0;
    z-index: 1;
}

#menuToggle:not(:checked)~.menuEffects ul {
    transform: translateY(-30%);
}

.home {
    min-height: 100vh;
    background-size: cover !important;
    background-position: center;
    position: relative;
    background-repeat: no-repeat !important;
}

.home-bg-image {
    position: relative;
}

.home-bg-image img {
    width: 100%;
    height: auto;
    opacity: 0.25;
}

.home-content {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #eee;
    width: 93%;
}

.home-content h1 {
    font-size: 6rem;
    letter-spacing: 3px;
    font-weight: 500;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-family: Staatliches, cursive;
}

.home-content p {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
}

.orderButton {
    background-color: #ffa500;
    color: #000;
    padding: 1rem 1.1rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    transition: .2s;
    margin-top: 2rem;
    display: inline-block;
    width: 13rem;
    font-family: Staatliches, cursive;
}

.arrow-center {
    position: absolute;
    top: 132%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 110px;
    border-left: 6px dashed rgba(255, 255, 255, .1);
}

.arrow {
    position: absolute;
    top: 0;
    left: -6px;
    height: 40px;
    width: 6px;
    background: #eee;
    animation: animate 2s infinite;
}

.arrow:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: -10px;
    width: 20px;
    height: 20px;
    border-bottom: 6px solid #eee;
    border-right: 6px solid #eee;
    transform: rotate(45deg);
}

@keyframes animate {
    0% {
        transform: translateY(0);
        opacity: 0.5;
    }

    50% {
        transform: translateY(80px);
        opacity: 1;
    }

    100% {
        transform: translateY(160px);
        opacity: 0;
    }
}

.about{
    margin-bottom: 6em;
}

.about-container {
    max-width: 1000px;
    width: 90%;
    margin:0 auto;
}

.about h2 {
    max-width: 1100px;
    width: 85%;
    margin: 0 auto;
    text-align: center;

}

.about-img img {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.fresh-container,
.juice-container,
.healthy-container,
.smoothie-container,
.bowls-container {
    display: flex;
    align-items: center;
    margin-top: 6em;
    gap: 5em;
}

.fresh-about,
.juice-about,
.healthy-about,
.smoothie-about,
.bowls-about {
    flex: 1 0 60%;
}

.fresh-about h3,
.juice-about h3,
.healthy-about h3,
.smoothie-about h3,
.bowls-about h3 {
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-family: Staatliches, cursive;
}

.fresh-about p,
.juice-about p,
.healthy-about p,
.smoothie-about p,
.bowls-about p {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
}

.fresh-img img,
.juice-img img,
.healthy-img img,
.smoothie-img img,
.bowls-img img {
    width: 100%;
    height: auto;
}

.juice-img,
.smoothie-img {
    order: -1;
}

.menu-content{
    text-align: center;
}

.menu-content h4{
    color: #ffa500;
    display: inline-block;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    font-weight: 600;
}

.menu-content h5{
    font-size: 3rem;
    letter-spacing: 2px;
    line-height: 5rem;
    font-family: Staatliches,cursive;
    margin: 0;
    padding: 0;
    font-weight: 500;
}

.menu-section{
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 8rem;
}

.menu-container{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    margin-top: 6em;
    gap: 2em;
}

.menu-card{
    flex: 1 0 23%;
    background-color: #222;
    padding: 4rem 2rem;
}

.menu-card img{
    width: 3rem;
}

.menu-card h5{
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    margin-top: 0.5em;
    font-weight: 600;
}

.menuButton {
    background-color: #ffa500;
    margin-top: 2rem;
    display: inline-block;
    width: 13rem;
    text-align: center;
    padding: 1rem 1.1rem;
    
}

.menuButton a{
    font-size: 1.4rem;
    text-transform: uppercase;
    transition: .2s;
    color: #000;
    font-family: Staatliches, cursive;
    margin: 0 auto;
    max-width: 1440px;
    width:100%
}

.client-content{
    text-align: center;
}

.client-content h4{
    color: #ffa500;
    display: inline-block;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    font-weight: 600;
}

.client-content h5{
    font-size: 3rem;
    letter-spacing: 2px;
    line-height: 5rem;
    font-family: Staatliches,cursive;
    margin: 0;
    padding: 0;
    font-weight: 500;
}

.client-section{
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 8rem;
}

.client-container{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    margin-top: 6em;
    gap: 2em;
}

.client-card{
    flex: 1 0 23%;
    background-color: #222;
    padding: 4rem 2rem;
    background: url("/images/client-bg.jpg")  center;
    opacity: 0.6;
}

.client-card img{
    width: 3rem;
}

.client-card h5{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5em;
    font-weight: 600;
    letter-spacing: 2px;
}

.client-card h6{
    font-size: 1rem;
    margin-bottom: 0.2rem;
    margin-top: 0.5em;
    font-weight: 400;
    letter-spacing: 2px;
}

.client-card p{
    font-size: 1rem;
    margin-bottom: 1.5rem;
    margin-top: 0.5em;
    font-weight: 600;
    line-height: 3rem;
}

.clientButton {
    background-color: #ffa500;
    margin-top: 2rem;
    display: inline-block;
    width: 13rem;
    text-align: center;
    padding: 1rem 1.1rem;
    
}

.clientButton a{
    font-size: 1.4rem;
    text-transform: uppercase;
    transition: .2s;
    color: #000;
    font-family: Staatliches, cursive;
    margin: 0 auto;
    max-width: 1440px;
    width:100%
}

.address{
    background: linear-gradient(#222,#000);
    margin: auto;
    padding: 6rem 4rem;
    border-radius: 5px;
    z-index: 2;
    max-width: 60rem;
}